@use "variables" as variables;

.about {
    background-color: variables.$brand-light-color;
    padding: 100px 0;
}

.about__container {
    display: flex;
    gap: 120px;
}

.about__media {
    max-width: 480px;
    width: 100%;
    display: flex;

    &-item {
        width: 350px;
        height: 400px;
        display: flex;
        align-items: stretch;
        position: relative;
        
        &:last-child {
            margin: 126px 0 0 -220px;
        }
    }

    &-img {
        border-radius: 24px;
    }
}

