@use "variables" as variables;

.blog {
    @include variables.section-padding;
}

.blog-item {
    background-color: variables.$brand-light-color;
    border-radius: 10px;
    box-shadow: 0 0 15px 0 #18121e1f;
    padding: 16px;
    display: flex;
    gap: 24px;

    &__img-box {
        flex: 0 1 230px;
        margin-top: 4px;
    }

    &__img {
        border-radius: 6px;
        height: 100%;
        object-fit: cover;
    }

    &__content-box {
        flex: 1 0 294px;
        display: flex;
        flex-direction: column;
        padding-top: 20px;
    }

    &__title {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.33;
        color: variables.$brand-dark-color;
        margin-bottom: 24px;

        &:hover {
            color: variables.$primary-color;
            text-decoration: underline;
            text-decoration-skip-ink: none;
            cursor: pointer;
        }
    }

    &__description {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42;
        color: variables.$brand-dark-color;
        margin-bottom: 24px;
    }

    &-row {
        display: flex;
        justify-content: space-between;
        margin-top: auto;
        margin-bottom: 15px;
    }

    &__date {
        font-size: 14px;
        font-weight: 700;
        color: variables.$text-accent-color;
    }

    &__link {
        font-size: 14px;
        font-weight: 700;
        color: variables.$primary-color;
    }
}

