@use "variables" as variables;

.modal {
    position: fixed;
    z-index: -10;
    opacity: 0;
    inset: 0;
    transition: opacity 0.5s, background-color 0.5s, backdrop-filter 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #12121200;
    backdrop-filter: blur(0px);

    &.show {
        opacity: 1;
        z-index: 20;
        background-color: #12121273;
        backdrop-filter: blur(10px);
    }
    
    .nice-select,
    input {
        max-width: 100%;
    }

    &-body {
        max-width: 450px;
        position: relative;
    }
}

#close-modal {
    position: absolute;
    right: -12px;
    top: 11px;
    z-index: 10;
    border: none;
    background-color: transparent;

    &:hover {
        color: variables.$text-accent-color;
    }
}

