@use "variables" as variables;

.popular {
    @include variables.section-padding;
    background-color: variables.$brand-light-color;
}

.template-container_centered {
    text-align: center;
    margin-top: -2px;
}

.template-content_centered {
    margin: 0 auto 50px;
    padding-top: 0;
}

.swiper-popular {
    margin-bottom: 49px;
}

.swiper-slide-popular {
    min-height: 500px;
    overflow: hidden;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
}

.popular-img {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popular-rating {
    display: flex;
    background-color: #fdfdfd66;
    backdrop-filter: blur(4px);
    border-radius: 4px 0 0 4px;
    justify-content: end;
    align-items: center;
    width: 65px;
    height: 32px;
    padding: 4px 8px;
    gap: 4px;
    position: absolute;
    top: 50px;
    right: 0;
    transition: opacity 0.4s;
}

.popular-rating__star {
    color: variables.$icon-img-yellow;
}

.popular-rating__svg {
    width: 24px;
    height: 24px;
}

.popular-rating__value {
    font-size: 14px;
    font-weight: 700;
    color: variables.$primary-color;
    margin-top: 2px
}

.popular-info {
    @include variables.background-blur;
    margin-top: auto;
    border-radius: 0 0 32px 32px;
    padding: 20px 32px 23px;
    height: 93px;
    width: 380px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.popular-info__title {
    font-size: 24px;
    font-weight: 700;
    color: variables.$brand-light-color;
    text-align: left;
    margin-bottom: 3px;
    padding-right: 86px;
}

.popular-info__subtitle {
    font-size: 14px;
    line-height: 1.2;
    color: variables.$brand-light-color;
    text-align: left;
    padding-right: 86px;
    transition: margin-bottom 0.5s;
}

.popular-info__description {
    height: 0;
    opacity: 0;
    text-align: left;
    color: variables.$brand-light-color;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    transition: opacity 0.5s, height 0.5s;
}

.popular-info__price {
    display: inline-block;
    position: absolute;
    top: 25px;
    right: 32px;
    color: #FDFDFD;
    background-color: #ffffff4d;
    width: 86px;
    height: 36px;
    padding: 8px 16px;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 #00000040;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    transition: box-shadow 0.3s;
}

.popular-info {
    height: 90px;
    transition: height 0.3s;

    .btn {
        display: none;
        margin-top: auto;
    }
}

.swiper-slide-popular{
    &:hover {
        .popular-info {
            @include variables.background-blur;
            height: 500px;
        }

        .popular-rating {
            opacity: 0;
        }

        .popular-info__price  {
            box-shadow: none;
        }

        .popular-info__subtitle {
            margin-bottom: 38px;
        }

        .popular-info__description {
            opacity: 1;
            height: auto;
        }

        .btn {
            display: block;
        }
    }
}




