@use "variables" as variables;

.popular {
    @include variables.section-padding;
    background-color: variables.$brand-light-color;
}

.swiper-popular {
    border-radius: 32px;
}

.swiper-slide-popular {
    --swipe-height: 500px;
    min-height: var(--swipe-height);
    border-radius: 32px;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    &:hover {
        .popular-info {
            height: var(--swipe-height);
            border-radius: 32px;
            margin: 0 auto;
        }

        .popular-rating {
            opacity: 0;
        }

        .popular-info__title,
        .popular-info__subtitle {
            -webkit-line-clamp: initial;
        }

        .popular-info__subtitle {
            margin-bottom: 38px;
        }

        .popular-info__description {
            opacity: 1;
            height: auto;
            text-align: left;
        }

        .btn {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.popular-img {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popular-rating {
    display: flex;
    background-color: #fdfdfd66;
    backdrop-filter: blur(4px);
    border-radius: 4px 0 0 4px;
    justify-content: end;
    align-items: center;
    width: 65px;
    padding: 4px 8px;
    gap: 7px;
    position: absolute;
    top: 59px;
    right: 0;
    transition: opacity 0.3s;
}

.popular-rating__star {
    color: variables.$icon-img-yellow;
}

.popular-rating__svg {
    width: 24px;
    height: 24px;
}

.popular-rating__value {
    font-size: 14px;
    font-weight: 700;
    color: variables.$primary-color;
    margin-top: 2px;
}

.popular-info {
    --text-padding: 86px;
    @include variables.background-blur;
    margin-top: auto;
    border-radius: 0 0 32px 32px;
    padding: 20px 32px 23px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 90px;
    overflow: hidden;
    transition: height 0.3s;
    margin-bottom: -15px;
    .btn {
        display: none;
        margin-top: auto;
    }
}

.popular-info__title {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
    color: variables.$brand-light-color;
    margin-bottom: 8px;
    padding-right: var(--text-padding);
}

.popular-info__subtitle {
    font-size: 14px;
    line-height: 1.28;
    color: variables.$brand-light-color;
    padding-right: var(--text-padding);
    margin-top: -6px;
    transition: margin-bottom 0.5s;
}

.popular-info__title,
.popular-info__subtitle {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
}


.popular-info__description {
    height: 0;
    opacity: 0;
    color: variables.$brand-light-color;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    transition: opacity 0.3s;

    scrollbar-color: #1A3E3E #FFFFFF;

    &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }

    &::-webkit-scrollbar-track {
        background: #F3F5F4;
        border-radius: 0;
    }

    &::-webkit-scrollbar-thumb {
    background: #1A3E3E;
    border-radius: 0;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #1A3E3E;
    }

    &::-webkit-scrollbar-button {
        display: none;
    }
    scrollbar-width: thin;
}

.popular-info__price {
    display: inline-block;
    position: absolute;
    top: 27px;
    right: 32px;
    color: #FDFDFD;
    background-color: #ffffff4d;
    padding: 8px 16px;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 #00000040;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    transition: box-shadow 0.3s;
}






