<section class="blog">
    <div class="container template-container_centered">
        <div class="template-content template-common-content">
            <h3 class="template-top-title">делимся впечатлениями</h3>
            <h2 class="template-title">Блог о путешествиях</h2>
        </div>
        <div class="blog-content">
            <article class="blog__card">
                <img src="./assets/img/blog-img-1.png" class="blog-img" alt="Italy">
                <div class="blog__card-content">
                    <h3 class="blog__card-title">Красивая Италия, какая она в реальности?</h3>
                    <p class="blog__card-description">Для современного мира базовый вектор развития предполагает независимые способы реализации соответствующих условий активизации.</p>
                    <div class="blog__card-footer">
                        <span class="blog__date">01/04/2023</span>
                        <a href="#" class="blog__link">читать статью</a>
                    </div>
                </div>
            </article>
            <article class="blog__card">
                <img src="./assets/img/blog-img-2.png" class="blog-img" alt="Airplane">
                <div class="blog__card-content">
                    <h3 class="blog__card-title">Долой сомнения! Весь мир открыт для вас!</h3>
                    <p class="blog__card-description blog__card-description_hidden blog__card-description_visible">Для современного мира базовый вектор развития предполагает независимые способы реализации соответствующих условий активизации ... независимые способы реализации соответствующих условий активизации ...Для современного мира базовый вектор развития предполагает независимые способы реализации соответствующих условий активизации ... независимые способы реализации соответствующих условий активизации ...</p>
                    <div class="blog__card-footer">
                        <span class="blog__date">01/04/2023</span>
                        <a href="#" class="blog__link">читать статью</a>
                    </div>
                </div>
            </article>
            <article class="blog__card">
                <img src="./assets/img/blog-img-3.png" class="blog-img" alt="Trip">
                <div class="blog__card-content">
                    <h3 class="blog__card-title">Как подготовиться к путешествию в одиночку? </h3>
                    <p class="blog__card-description">Для современного мира базовый вектор развития предполагает.</p>
                    <div class="blog__card-footer">
                        <span class="blog__date">01/04/2023</span>
                        <a href="#" class="blog__link">читать статью</a>
                    </div>
                </div>
            </article>
            <article class="blog__card">
                <img src="./assets/img/blog-img-4.png" class="blog-img" alt="India">
                <div class="blog__card-content">
                    <h3 class="blog__card-title">Индия ... летим?</h3>
                    <p class="blog__card-description">Для современного мира базовый.</p>
                    <div class="blog__card-footer">
                        <span class="blog__date">01/04/2023</span>
                        <a href="#" class="blog__link">читать статью</a>
                    </div>
                </div>
            </article>
        </div>
        <button type="button" class="btn btn_primary btn_lg">Другие материалы</button>
    </div>
</section>