<section class="gallery">
    <div class="container template-container_centered">
        <div class="template-content template-content_centered">
            <h3 class="template-top-title template-top-title_centered gallery-top-title">фото-отчет</h3>
            <h2 class="template-title template-title_centered gallery-title">Делимся впечатлениями</h2>
        </div>
        <div class="gallery-content">
            <img src="./assets/img/gallery-img-1.png" class="gallery-img gallery-img1" alt="trip">
            <img src="./assets/img/gallery-img-2.png" class="gallery-img gallery-img2" alt="trip">
            <img src="./assets/img/gallery-img-3.png" class="gallery-img gallery-img3" alt="trip">
            <img src="./assets/img/gallery-img-4.png" class="gallery-img gallery-img4" alt="trip">
            <img src="./assets/img/gallery-img-5.png" class="gallery-img gallery-img5" alt="trip">
            <img src="./assets/img/gallery-img-6.png" class="gallery-img gallery-img6" alt="trip">
        </div>
        <a href="https://www.pinterest.com/" target="_blank" class="btn-pinterest">Наш pinterest</a>
    </div>
</section>