<section class="popular">
    <div class="container template-container_centered">
        <div class="template-content template-content_centered">
            <h3 class="template-top-title template-top-title_centered">по версии отдыхающих</h3>
            <h2 class="template-title template-title_centered">Популярные направления</h2>
        </div>
        <div class="swiper swiper-popular">
            <div class="swiper-wrapper">
                <div class="swiper-slide swiper-slide-popular">
                    <img src="./assets/img/popular-img-1.png" class="popular-img" alt="popular-img">
                    <div class="popular-rating">
                        <div class="popular-rating__star">
                            <svg class="popular-rating__svg">
                                <use href="#popular-icon"></use>
                            </svg>
                        </div>
                        <div class="popular-rating__value">4.9</div>
                    </div>
                    <div class="popular-info">
                        <h3 class="popular-info__title">Озеро возле гор</h3>
                        <p class="popular-info__subtitle">романтическое приключение</p>
                        <div class="popular-info__price">480 $</div>
                        <div class="popular-info__description">Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат Вирджиния, взял одно из самых странных слов в Lorem Ipsum, "consectetur"и занялся его поисками в классической латинской литературе.</div>
                        <button type="button" class="btn btn_primary btn_lg">Программа тура</button>
                    </div>
                </div>
                <div class="swiper-slide swiper-slide-popular">
                    <img src="./assets/img/popular-img-2.png" class="popular-img" alt="popular-img">
                    <div class="popular-rating">
                        <div class="popular-rating__star">
                            <svg class="popular-rating__svg">
                                <use href="#popular-icon"></use>
                            </svg>
                        </div>
                        <div class="popular-rating__value">4.5</div>
                    </div>
                    <div class="popular-info">
                        <h3 class="popular-info__title">Ночь в горах</h3>
                        <p class="popular-info__subtitle">в компании друзей</p>
                        <div class="popular-info__price">500 $</div>
                        <div class="popular-info__description">Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат Вирджиния, взял одно из самых странных слов в Lorem Ipsum, "consectetur"и занялся его поисками в классической латинской литературе.</div>
                        <button type="button" class="btn btn_primary btn_lg">Программа тура</button>
                    </div>
                </div>
                <div class="swiper-slide swiper-slide-popular">
                    <img src="./assets/img/popular-img-3.png" class="popular-img" alt="popular-img">
                    <div class="popular-rating">
                        <div class="popular-rating__star">
                            <svg class="popular-rating__svg">
                                <use href="#popular-icon"></use>
                            </svg>
                        </div>
                        <div class="popular-rating__value">5.0</div>
                    </div>
                    <div class="popular-info">
                        <h3 class="popular-info__title">Йога в горах</h3>
                        <p class="popular-info__subtitle">для тех, кто забоится о себе</p>
                        <div class="popular-info__price">230 $</div>
                        <div class="popular-info__description">Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат Вирджиния, взял одно из самых странных слов в Lorem Ipsum, "consectetur"и занялся его поисками в классической латинской литературе.</div>
                        <button type="button" class="btn btn_primary btn_lg">Программа тура</button>
                    </div>
                </div>
                <div class="swiper-slide swiper-slide-popular">
                    <img src="./assets/img/offers-img-1.png" class="popular-img" alt="popular-img">
                    <div class="popular-rating">
                        <div class="popular-rating__star">
                            <svg class="popular-rating__svg">
                                <use href="#popular-icon"></use>
                            </svg>
                        </div>
                        <div class="popular-rating__value">4.9</div>
                    </div>
                    <div class="popular-info">
                        <h3 class="popular-info__title">Озеро возле гор</h3>
                        <p class="popular-info__subtitle">романтическое приключение</p>
                        <div class="popular-info__price">480 $</div>
                        <div class="popular-info__description">Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат Вирджиния, взял одно из самых странных слов в Lorem Ipsum, "consectetur"и занялся его поисками в классической латинской литературе.</div>
                        <button type="button" class="btn btn_primary btn_lg">Программа тура</button>
                    </div>
                </div>
                <div class="swiper-slide swiper-slide-popular">
                    <img src="./assets/img/offers-img-2.png" class="popular-img" alt="popular-img">
                    <div class="popular-rating">
                        <div class="popular-rating__star">
                            <svg class="popular-rating__svg">
                                <use href="#popular-icon"></use>
                            </svg>
                        </div>
                        <div class="popular-rating__value">4.5</div>
                    </div>
                    <div class="popular-info">
                        <h3 class="popular-info__title">Ночь в горах</h3>
                        <p class="popular-info__subtitle">в компании друзей</p>
                        <div class="popular-info__price">500 $</div>
                        <div class="popular-info__description">Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат Вирджиния, взял одно из самых странных слов в Lorem Ipsum, "consectetur"и занялся его поисками в классической латинской литературе.</div>
                        <button type="button" class="btn btn_primary btn_lg">Программа тура</button>
                    </div>
                </div>
                <div class="swiper-slide swiper-slide-popular">
                    <img src="./assets/img/offers-img-3.png" class="popular-img" alt="popular-img">
                    <div class="popular-rating">
                        <div class="popular-rating__star">
                            <svg class="popular-rating__svg">
                                <use href="#popular-icon"></use>
                            </svg>
                        </div>
                        <div class="popular-rating__value">5.0</div>
                    </div>
                    <div class="popular-info">
                        <h3 class="popular-info__title">Йога в горах</h3>
                        <p class="popular-info__subtitle">для тех, кто забоится о себе</p>
                        <div class="popular-info__price">230 $</div>
                        <div class="popular-info__description">Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат Вирджиния, взял одно из самых странных слов в Lorem Ipsum, "consectetur"и занялся его поисками в классической латинской литературе.</div>
                        <button type="button" class="btn btn_primary btn_lg">Программа тура</button>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn_primary btn_lg">Рейтинг направлений</button>
    </div>
</section>

<!--<div class="popular-images">
            <div class="popular-card">
                <img src="./assets/img/popular-img-1.png" class="popular-img" alt="popular-img">
                <div class="popular-rating">
                    <svg class="popular-icon-svg">
                        <use href="#popular-icon"></use>
                    </svg>
                    4.9
                </div>
                <div class="popular-info">
                    <h3 class="popular-info__title">Озеро возле гор</h3>
                    <p class="popular-info__subtitle">романтическое приключение</p>
                    <div class="popular-info__price">480 $</div>
                </div>
            </div>
            <div class="popular-card">
                <img src="./assets/img/popular-img-2.png" class="popular-img" alt="popular-img">
                <div class="popular-rating">
                    <svg class="popular-icon-svg">
                        <use href="#popular-icon"></use>
                    </svg>
                    4.5
                </div>
                <div class="popular-info">
                    <h3 class="popular-info__title">Ночь в горах</h3>
                    <p class="popular-info__subtitle">в компании друзей</p>
                    <div class="popular-info__price">500 $</div>
                </div>
            </div>
            <div class="popular-card">
                <img src="./assets/img/popular-img-3.png" class="popular-img" alt="popular-img">
                <div class="popular-rating">
                    <svg class="popular-icon-svg">
                        <use href="#popular-icon"></use>
                    </svg>
                    5.0
                </div>
                <div class="popular-info">
                    <h3 class="popular-info__title">Йога в горах</h3>
                    <p class="popular-info__subtitle">для тех, кто забоится о себе</p>
                    <div class="popular-info__price">230 $</div>
                </div>
            </div>
        </div>-->